html {
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
}

.row{
    display: flex;    
}

.row > * {
    flex: 1 1 auto;
    padding: 0 2em;
}

/* Formulare */

form label {
    display: block;
    margin-top: 0.5em;
}

form .actions{
    margin-top: 1em;
    text-align: right;
}

form label > * {
    display: block;
    margin-left: 1em;
}
/* Table */

section.liste {
    padding: 0 2em;
    margin-top: 0 2em;     
}
header {    
    width: 100%;
    text-align: center;    
    height: 3rem;
    line-height: 3rem;
    background-color: lightseagreen;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 6rem;
    line-height: 2rem;
    background-color: #eae;
}