label {
    width: 10em;
    display: block;
    float: left;
}
input {width: 80px}
button {width: 200px}
body {
    padding: 15px 5px;
    font-family: Verdana;
}
.error {
        color: red;
        border-color: red;
     
}
.errormessage {
    color: red;
    float: flex -1;
    font-size: x-small
}